:root {
    --background-color: #38322F;
    --highlight-primary-color: #474341;
    --highlight-secondary-color: #474341;
}

@font-face {
    font-family: Nunito;
    src: url(../public/Nunito-Medium.ttf);
}

* {
    font-family: Nunito;
}

body {
    background-color: var(--background-color);
}

#wrapper {
    display: flex;
    flex-direction: column;
    
    position: relative;
    margin: 0 auto;

    width: 100%;
}

#sidebar {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#content {
    flex-grow: 3;
}

#header {
    flex-grow: 1;

    display: flex;
    justify-content: center;

    z-index: 1;
}

#header img {
    width: 20vw;
}

#nav {
    position: relative;
    z-index: 5;
}






@media only screen and (min-width: 751px) {

    #wrapper {
        flex-direction: row;
        max-width: 1200px;
    }

    #sidebar {
        flex-direction: column;
    }

}



/*
    DEBUG
*/

#nav {
    background-color: red;
}

#header {
    background-color: blue;
}

#content {
    background-color: green;
}

#sidebar {
    border: 1px dashed pink;
}